attrs==25.3.0
bcrypt==4.3.0
blinker==1.9.0
certifi==2025.4.26
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
dotenv==0.9.9
fiona==1.9.6
Flask==3.1.0
flask-cors==5.0.1
geopandas==0.14.3
greenlet==3.2.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==1.26.4
packaging==25.0
pandas==2.2.3
PyMySQL==1.1.1
pyproj==3.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
shapely==2.0.3
six==1.17.0
SQLAlchemy==2.0.40
typing_extensions==4.13.2
tzdata==2025.2
Werkzeug==3.1.3
