.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fc;
}

.login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 22rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.login-container input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-radius: 2rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.submit-button {
    padding: 0.8rem;
    border: none;
    border-radius: 2rem;
    background-color: #6EA8DC;
    color: white;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #deebf7;
    color: #6c757d;
}

.login-error-msg {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.login-links {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}

.login-links .link {
    color: #0077ff;
    cursor: pointer;
    text-decoration: underline;
}
