.chart-background {
    width: 100vw;
    height: 100vh;
    background-color: #DEEBF7;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    display: flex;
}


.chart-area {
    width: 38rem;
    height: 100%;
    margin: 0;
    /* padding: 0rem 4rem 2rem 4rem; */
    /* box-sizing: border-box; */
    /* overflow: visible; */
    /* display: flex; */
    /* flex-direction: column; */
}

.chart-box {
    background-color: white;
    /* position: relative; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 2rem;
    /* margin-bottom: 4rem; */
    /* /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/* InfoGPT */

.gpt-background {
    background-color: #DEEBF7;
    width: 32rem;
    height: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    width: 100%;
    height: 600px;
    padding: 1rem;
}

.gpt-box h2 {
    font-size: 1rem;
}

.gpt-talk {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 16px;
    word-wrap: break-word;
    text-align: left;
}


/* CustomLegend */

.legend-background {
    width: 100%;
    background-color: #f2f2f2;
    /* height: 9rem; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 8rem;
    /* margin-top: 3rem; */

    /* justify-content: space-between; */
}

.legend-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
}

.legend-list {
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.legend-list:hover {
    background-color: #DEEBF7;
}

.legend-list.active {
    background-color: #FFF2CC;
}



.legend-label {
    font-size: 0.6rem;
}

.legend-desc {
    width: 12rem;
    /* background-color: white; */
    height: 100%;
    gap: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
}

.legend-box {
    width: 100%;
    height: 70%;
    background-color: white;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    word-break: keep-all;
}

.legend-desc p {
    font-size: 0.5rem;
}

/* .chart-box {
    border: 1px dashed red;
}

.legend-background {
    border: 1px dashed blue;
} */
