.login-wrapper {
    font-family: 'Pretendard-Regular';
    background-color: #e6f0fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    width: 400px;
    padding: 3rem 2rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo-text {
    font-family: 'NPSfontBold';
    font-size: 2.5rem;
    font-weight: bold;
}

.logo-text span {
    font-weight: normal;
}

.login-sub {
    margin-top: 1rem;
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
}

.kakao-login {
    background-color: #ffe812;
    border: none;
    padding: 0.5rem;
    font-size: 0.8rem;
    width: 100%;
    margin-top: 2rem;
    border-radius: 8px;
    cursor: pointer;
}

.kakao-login:hover {
    font-weight: bold;
    scale: 1.05;
    transition: 0.3s;
}

.email-login-button {
    margin-top: 1rem;
    background-color: white;
    border: 1px solid #ddd;
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 0.8rem;
    cursor: pointer;
}

.email-login-button:hover {
    font-weight: bold;
    scale: 1.05;
    transition: 0.3s;
}


.divider {
    margin: 1.5rem 0;
    color: #aaa;
}

.google-login-button {
    background: none;
    border: none;
    cursor: pointer;
}

.google-login-button:hover {
    scale: 1.05;
    transition: 0.3s;
}

.google-icon {
    width: 36px;
    height: 36px;
}

.signup-prompt {
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #555;
}

.signup-prompt .link {
    color: #0077ff;
    cursor: pointer;
    text-decoration: underline;
}

.signup-prompt .link:hover {
    font-weight: bold;
}
