
.mapbackground {
    font-family: 'Pretendard';
    width: 100vw;
    height: 100vh;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.search-position {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.custom-overlay {
    background: white;
    padding: 10px 15px;
    border: 2px solid #B9DCC4;
    border-radius: 10px;
    font-size: 14px;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.close-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #999;
    z-index: 999;
}

.close-btn:hover {
    color: red;
}

.toggle-list-button {
    position: absolute;
    z-index: 20;
    bottom: 2rem;
    left: 2rem;
    font-size: 1rem;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 2rem;
    background-color: #7BAE92;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

.toggle-list-button:hover {
    background-color: #7BAE92;
    transform: scale(1.1);
    opacity: 1;
}

.toggle-list-button:focus {
    outline: none;
    opacity: 1;
}

.list-box {
    z-index: 20;
    position: absolute;
    bottom: 2rem;
    left: 1.5rem;
}

.list-popup {
    background-color: #ffffff;
    border: 3px solid #B9DCC4;
    width: 15rem;
    border-radius: 1rem;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
}

.list-popup.drag {
    opacity: 0.5;
}

.list-top {
    display: flex;
    justify-content: space-between;
}

.list-top p {
    margin: 1.2rem 1rem;
    font-size: 0.6rem;
}

#list-close {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 2rem;
    font-size: 0.6rem;
    background-color: #97C4A9;
    margin: 0.5rem 0.5rem 0 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#list-close:hover {
    background-color: #7BAE92;
    transform: scale(1.1);
}

.custom-button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 20;
    text-align: left;
    font-size: 0.8rem;
    gap: 1.5rem;
    padding: 1rem;
}

.custom-button-frame {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
    width: fit-content;
}

.custom-button-frame button {
    background-color: white;
    background-size: cover;
    border: none;
    margin-top: 0.1rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.preview-box {
    position: absolute;
    z-index: 20;
    bottom: 2rem;
    right: 2rem;
}

.preview-popup {
    background-color: #ffffff;
    border: 3px solid #B9DCC4;
    width: 14rem;
    border-radius: 1rem;
    padding: 1.5rem;
}

.preview-popup.drag {
    opacity: 0.5;
}

.preview-text-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.preview-text-frame p {
    font-size: 0.7rem;
    margin: 0.5rem;
    word-break: keep-all;
    white-space: normal;
    line-height: 0.5rem;
}

.preview-text-frame h3 {
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

#detail-move {
    background-color: #B9DCC4;
    margin: 0.5rem;
    border: none;
    border-radius: 2rem;
    width: 7rem;
    height: 2rem;
    font-weight: 500;
    font-size: 0.8rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.disabled-button {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.active-button {
    background-color: #97C4A9;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.active-button:hover {
    background-color: #7BAE92;
    transform: scale(1.1);
}