.terms-wrapper {
    font-family: 'Pretendard-Regular';
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    height: 100vh;
    justify-content: center;
}

.terms-wrapper h2 {
    margin-bottom: 1rem;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #f6fcf4;
    border-radius: 1rem;
    padding: 2rem;
    width: 20rem;
    border: 1px solid #ccc;
}

.checkbox-group label {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.terms-submit-button {
    font-size: 0.8rem;
    margin-top: 1.5rem;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    border: none;
    background-color: #7BAE92;
    color: white;
    cursor: pointer;
}

.terms-submit-button:hover {
    background-color: #97C4A9;
    color: #6c757d;
}