.terms-wrapper {
    font-family: 'Pretendard-Regular';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    height: 100vh;
    justify-content: center;
}

.terms-wrapper h2 {
    margin-bottom: 1rem;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #f4f7fc;
    border-radius: 1rem;
    padding: 2rem;
    width: 20rem;
    border: 1px solid #ccc;
}

.checkbox-group label {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.submit-button {
    margin-top: 1.5rem;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    border: none;
    background-color: #6ea8dc;
    color: white;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #deebf7;
    color: #6c757d;
}
