.content-background {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 3rem;
}

.commend-head {
    display: flex;
    justify-content: space-between;
    margin-right: 0.3rem;
}

#delete-commend {
    width: 2rem;
    height: 1.25rem;
    font-family: 'NPSfontBold';
    cursor: pointer;
    margin: 0.2rem 0 0 0;
    background-color: #B9DCC4;
    border-radius: 1.5rem;
    font-size: 0.5rem;
    border: none;
}

.commends-area::-webkit-scrollbar {
    width: 10px;
}

.commends-area::-webkit-scrollbar-thumb {
    background-color: #B9DCC4;
    border-radius: 10px;
}

.commends-area::-webkit-scrollbar-track {
    background-color: #E5F2D6;
    border-radius: 10px;
}

.no-commends {
    color: #888;
    font-size: 17.5px;
    padding: 0.3rem;
}

.commends {
    background-color: #E5F2D6;
    margin: 0.35rem;
    padding: 0.1rem;
    border-radius: 1rem;
    text-align: left;
}

.commends h3 {
    margin: 0.25rem 0 0.25rem 0.5rem;
}

.commends p {
    font-size: 15px;
    line-height: 1.25;
    margin: 0.25rem 0.25rem 0.45rem 0.55rem;
}

.commends-area {
    margin: 0.3rem 0 0 0;
    max-height: 21.5rem;
    overflow-y: auto;
    padding-right: 8px;
}

.comment-list {
    padding: 1rem;
    border-right: 1px solid #ccc;
    font-size: 0.6rem;
    line-height: 1.1rem;
    background-color: #f8f9fa;
}

.comment-list {
    width: 15rem;
    height: 26.5rem;
    margin: 3rem 1rem 0 0;
    padding: 20px;
    border-radius: 1rem;
    border-right: 1px solid #ccc;
}

.content-box {
    background-color: #ffffff;
    border-radius: 1rem;
    height: 26.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-box img {
    width: 100%;
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 5rem;
    text-align: left;
}

.title-box h4 {
    font-size: 0.8rem;
}

#writer {
    font-size: 0.5rem;
}

.edit-box {
    width: 6.5rem;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    margin-top: 1.5rem;
}

.other-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-size: 0.5rem;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 3rem;
    height: 1.5rem;
    font-family: 'NPSfontBold';
    cursor: pointer;
    border-radius: 1.5rem;
    font-size: 0.5rem;
    border: none;
}

#edit-button {
    background-color: #B9DCC4;
}

#list-button {
    background-color: #E5F2D6;
    color: #6C757D;
}

#edit-button:hover {
    background-color: #ffffff;
    color: #000000;
    transform: translateY(-2px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

#list-button:hover {
    background-color: #7BAE92;
    color: #6C757D;
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.content-text-box div {
    display: flex;
    flex-direction: column;
    width: 32rem;
}

.content-text-box img {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: 0 0.5rem;
}

.content-text-box p {
    line-height: 1rem;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    border-radius: 0.5rem;
    font-family: 'Pretendard', sans-serif;
    font-size: 0.6rem;
    text-align: left;
}

.comment-box {
    width: 95%;
    background-color: #B9DCC4;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 0.8rem;
    margin-bottom: 0.5rem;
}

.comment-box p {
    width: 4rem;
    margin: 0;
}

.comment-box textarea {
    width: 25rem;
    height: 2.5rem;
    border: none;
    padding: 0.4rem 1rem;
    font-family: 'Pretendard';
    font-size: 0.6rem;
    line-height: 0.8rem;
    border-radius: 2rem;
    resize: none;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    word-break: break-word;
}

.comment-box textarea:focus {
    outline: none;
}

.comment-box button {
    background-color: #E5F2D6;
    font-family: 'NPSfontBold';
    font-size: 0.7rem;
    border: none;
    width: 3rem;
    height: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}