.write-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: black; */
    padding: 0rem;
}

.write-box {
    /* display: flex; */
    margin-top: 3rem;
    /* margin: 0; */
}

.write-box button {
    border-radius: 0.1rem;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 0.5rem;
    /* padding: 0.3rem; */
    /* margin: 0.3rem 0.1rem; */
}


#write-title {
    font-size: 0.8rem;
    width: 35rem;
    height: 2rem;
    border: none;
    margin: 0.7rem 0 0 0;
    background-color: transparent;
}

#write-hr {
    /* border: none; */
    border-radius: 0;
    width: 95%;
    background-color: rgb(213, 213, 213);
    /* margin: 0.8rem 0 0 0; */
}


.create-box {
    background-color: #ffffff;
    border-radius: 1rem;
    height: 25rem;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toolbar {
    /* background-color: rgb(117, 117, 117) ; */
    /* padding: 0.3rem; */
    position: relative;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.toolbar svg {
    font-size: 0.8rem;
}

.toolbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 4px;
}

.color-button {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-button input[type="color"] {
    width: 50%;
    height: 55%;
    padding: 0;
    border: none;
    background: none;
    appearance: none;
    cursor: pointer;
    border-radius: 4px;
}



.text-box {
    /* background-color: rgb(152, 152, 152); */
    padding: 0.5rem;
    /* margin-top: 1rem; */
    line-height: 1rem;
    width: 36rem;
    height: 80%;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 0.5rem;
    overflow-x: auto;
}

.text-box .ProseMirror,
.text-box .ProseMirror p {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 0.6rem;
    outline: none;
    text-align: left;
}

.text-box .ProseMirror {
    padding: 0;
}

.text-box .ProseMirror img {
    max-width: 10px;
    /* width: 100%; */
    height: auto;
    display: block;
    margin: 0.5rem auto;
}

.image-float-toolbar {
    position: absolute;
            top: 3.2rem;
            left: 50%;
            transform: translateX(-50%);
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 0.5rem;
            padding: 0.3rem 0.5rem;
            box-shadow: 0 2px 6px rgba(0,0,0,0.1);
            z-index: 1000;
            display: flex;
            gap: 0.5rem
}

.attachment-list {
  margin-top: 1rem;
  width: 90%;
  font-size: 0.6rem;
  background-color: #f9f9f9;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
}


.attachment-list ul {
  /* padding-left: 1rem; */
  display: flex;
  list-style-type: none;
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}

.attachment-list li {
    display: flex;
    align-items: center;
}

.file-delete {
  cursor: pointer;
  color: #666;
}


.file-delete:hover {
  color: red;
}



.attachment-list a {
  text-decoration: none;
  color: #333;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.5rem;
}

.attachment-list a:hover {
  background-color: #e0e0e0;
}


.is-editor-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
    font-size: 0.8rem;
}


.button-group {
    margin-top: 1rem;
}

#save-button {
    width: 7rem;
    height: 2rem;
    font-family: 'KIMM_Bold';
    cursor: pointer;
    margin: 0 4rem 0.4rem 4rem;
    background-color: #B9DCC4;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    border: none;
}

#cancel-button {
    width: 7rem;
    height: 2rem;
    font-family: 'KIMM_Bold';
    cursor: pointer;
    margin: 0 4rem 0.4rem 4rem;
    background-color: #E5F2D6;
    color: #6C757D;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    border: none;
}

#save-button:hover {
    background-color: #ffffff;
    color: #000000;
    transform: translateY(-2px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

#cancel-button:hover {
    background-color: #7BAE92;
    color: #6C757D;
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}